{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container" align="center" style="width:700px; word-wrap: break-word;">
      <h4>Welcome to the "Users" Table editor, The only App to view and edit Jordan Cohill's
       Postgres-->Usersdb-->Users Table. Hope you enjoy!<h4>
       	<br/>
       	<br/>
    <div align="center" style="width:500px;"">
    	<ul class="list-group">
        <li class="list-group-item"><a class="btn btn-primary btn-xl js-scroll-trigger" href="/add-user">Add New User</a></li>
        <li class="list-group-item"><a class="btn btn-primary btn-xl js-scroll-trigger" href="/read">View Users</a></li>
    </ul>
    </div>

    </div>
  </main>
{% endblock %}